body {
   background-color: rgba(195, 195, 255, 0.9);
}

.calc { 
   display: flex;
   flex-wrap: wrap;
   background-color: rgba(140, 140, 140, 0.9);
   font-family: "Lucida Console", Monaco, monospace;
   border-radius: 25px;
   font-weight: lighter;
   padding: 5em 3em;
   width: 500px;
   height: 635px;
   /*
   padding: 9vmin;
   margin: 0%;
   height:50vw;
   width: 80vw/40vh;
   height: 80vw/40vh;
   */
}

.calc-disp input {
   text-align:right;
   border: hidden;
   width:500px;
   background-color: rgba(200, 255, 200, 0.5);
   overflow:scroll;
/*
   width:70vmin;
*/
}

#calc-display-smol  input {
   color: gray;
   font-size: 50px;
   /*
   font-size: 5vmin;
   */
}
#calc-display  input {
   font-size: 100px;
   /*
   font-size: 10vmin;
   */
}
.calc-numbers, .calc-functions {
   flex-wrap: wrap;
   /*
   width: 50%;
   height:40vmin;
   width:50vmin;
   */
   font-size: 20vmin;
   

}
.calc-numbers {
   display: flex;
   flex: 1 1 73%;
   /*
   justify-content: start;
   float: left;
   grid-area: main;
   max-width:10%;
   */
}

.calc-functions {
   display: flex;
   flex: 1 1 24%;
}

.calc-input {
   background-color: white;
   border: hidden;
   text-align: center;
   /* Scaling
   font-size: 5vmin;
   width: 15vmin;
   height: 4vmin;
   padding: 6vmin 0;
   */
}

.calc-numbers .calc-input {
   font-size: 50px;
   width: 33.33%;
   height: 16%;/*65px;*/
   padding: 7%/*20px*/ 0;
}

.calc-functions .calc-input {
   background-color: rgb(0,0,0);
   color: rgb(255,255,255);
   font-size: 40px;
   width: 100%;
   height: 12.7%; /*40px;*/
   padding: 10% /*15px*/ 0;
}

#clear {
   background-color: rgb(255,100,100);
}
